<div>
    <header>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>MLB Schedules</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-toolbar color="secondary">
            <mat-toolbar-row>
                <span class="spacer"></span>
                <span class="current-month">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
                <span class="spacer"></span>
            </mat-toolbar-row>

            <mat-toolbar-row class="mb-4">
                <span class="spacer"></span>
                <span>
                    <button mat-raised-button mwlCalendarPreviousView color="primary" [view]="view" [(viewDate)]="viewDate">Previous</button>
                    <button mat-raised-button mwlCalendarToday [(viewDate)]="viewDate">Today</button>
                    <button mat-raised-button mwlCalendarNextView color="primary" [view]="view" [(viewDate)]="viewDate">Next</button>
                </span>
                <span class="spacer"></span>
            </mat-toolbar-row>
        </mat-toolbar>
    </header>

    <div class="sub-menu container flex">
        <div class="spacer"></div>

        <mat-form-field size="6">
            <mat-select [(value)]="teamFilterValue" (change)="filterEventsByTeam()" placeholder="Team Filter">
                <mat-option>---</mat-option>
                <mat-option *ngFor="let team of teamFilterOptions" [value]="team">{{ team }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <main class="main-content">
        <div *ngIf="events.length > 0" class="container">
            <mat-card>
                <mat-card-content>
                    <mwl-calendar-month-view [viewDate]="viewDate" [events]="filteredEvents"></mwl-calendar-month-view>
                </mat-card-content>
            </mat-card>

            <mat-card-footer>
                <div class="copyright">The information used here was obtained free of charge from and is copyrighted by Retrosheet. Interested parties may contact Retrosheet at "<a href="http://www.retrosheet.org" target="_blank">www.retrosheet.org</a>".</div>
            </mat-card-footer>
        </div>
    </main>
</div>
